
  <mat-card>
    <mat-toolbar>
      <ul>
        <li>
            <h2 >Items in Cart : {{ numberOfItems }} </h2>
        </li>
        <li>
            <h2> Total: {{total | currency: '$' }} </h2>
        </li>
        
      </ul>
    </mat-toolbar>
    
  </mat-card>

<div>
    <table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8" >
      <!-- image column -->
        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef  style="text-align:center;"> Image </th>
            <td mat-cell *matCellDef="let prod" style="text-align:center;">
              <a [routerLink]="prod.ProductId">
              <img src={{prod.Image}} class="img-thumbnail" height="100px" width="120px" />
            </a> </td>
        </ng-container>

      <!--Name Column  -->
      <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header  style="text-align:center;" > Name </th>
          <td mat-cell *matCellDef="let prod" style="text-align:center;"> {{prod.Name}} </td>
      </ng-container>

      <!-- Price column -->
      <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header  style="text-align:center;" > Price </th>
          <td mat-cell *matCellDef="let prod" style="text-align:center;" > {{ prod.Price | currency: '$'}} </td>
      </ng-container>

      <!-- Details -->
      <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef style="text-align:center;"> Details </th>
          <td mat-cell *matCellDef="let prod" style="text-align:center;width:50%; "> {{prod.Details}} </td>
      </ng-container>


       <!-- Quantity -->
       <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header style="text-align:center;"> Quantity </th>
          <td mat-cell *matCellDef="let prod" style="text-align:center;">{{prod.Quantity}}</td>
      </ng-container>

      <!-- to details   -->
      <ng-container matColumnDef="other">
          <th mat-header-cell *matHeaderCellDef style="text-align:center;">
              <button mat-raised-button style="background:rgb(30, 97, 151); color:whitesmoke;"
              (click)="refresh()"><mat-icon>refresh</mat-icon></button> 
            </th>
          <td mat-cell  *matCellDef="let prod" style="text-align:center;">
              <a [routerLink]="prod.ProductId" style="text-decoration: none">
                <h3 style="color:rgb(67, 67, 199);" >
                    <mat-icon>menu</mat-icon>
                   Details</h3>
              </a>
           </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>

    <!-- pagination-controls -->
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    
    

</div>



