<mat-card>
  
<div class="container">
  <mat-card>
    <mat-toolbar color="primary">  
      <div style="color:white; text-align:left;">
        <a routerLink="/" style="color:white;">
        <mat-icon>shopping_cart</mat-icon>       
        <strong> SURF SHOP</strong>
      </a> 
        
      </div>
      <div class="example-spacer">
        <ul >  
          <li><a routerLink="/">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
           </a></li>
          <li><a routerLink="/contact">
            <mat-icon> mail_outline</mat-icon>
          </a></li>
        </ul>
      </div>
      </mat-toolbar>
    </mat-card>
</div>

</mat-card>

